/*Обнуление*/
*{padding: 0;margin: 0;border: 0;}
*,*:before,*:after{-moz-box-sizing: border-box;-webkit-box-sizing: border-box;box-sizing: border-box;}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}
html,body{height:100%;width:100%;font-size:100%;line-height:1;font-size:14px;-ms-text-size-adjust:100%;-moz-text-size-adjust:100%;-webkit-text-size-adjust:100%;}
input,button,textarea{font-family:inherit;}
input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a,a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}
h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: inherit;}
/*--------------------*/
 
body {
    height: 100%;
    color: #252B42;
    font-family: 'Montserrat';
    font-weight: 500;
    background-color: #fafafa;
}

.wrapper {
    overflow: hidden;
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

._container {
    max-width: 1046px;
    margin: 0 auto;
    padding: 0 15px;
    box-sizing: content-box;
}

._ibg {
    position: relative;
}

._ibg img {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    object-fit: cover;
}

/*--------------------HEADER--------------------*/
.header {
    position: absolute;
    width: 100%;
    left: 0;
    top: 0;
    z-index: 50;
}
.header__container {
    display: flex;
    min-height: 104px;
    align-items: center;
}

@media (max-width:479px) {
    .header__container {
        min-height: 70px;
    }
}

.header__logo {
    font-size: 24px;
    font-weight: 700;
    color: inherit;
}
.header__menu {
    margin: 0 0 0 133px;
}

@media (max-width:992px) {
    .header__menu {
        margin: 0 0 0 80px;
    }
}

@media (max-width:767px) {
    .header__menu {
        margin: 0 0 0 40px;
    }
}

@media (max-width:479px) {
    .header__menu {
        margin: 0 0 0 20px;
    }
}

.menu {
    padding: 5px 0;
}
.menu__list {
    flex-wrap: wrap;
    display: flex;
}
.menu__item:not(:last-child) {
    margin: 0 21px 0 0;
}

.menu__item:hover {
    border-top: 2px solid #FF7B47;
}
.menu__link {
    color: #737373;
    font-weight: 600;
    line-height: 171%;
}

@media (max-width:479px) {
    .menu__link {
        font-size: 18px;
    }
}


/*--------------------PAGES--------------------*/
.page__main-block {
}
.page__services {
    position: relative;
    z-index: 2;
    margin: -111px 0 0 0; /*только благодаря отрицательному маржину поднимутся все остальные блоки. ни один лругой способ не создаст такого же эффекта в плане подъема блока*/
}
.page__advantages {
}
.page__practice {
}
.page__whoweare {
}
.page__clients {
    margin: 0 0 10px 0;
}
.page__subscribe {
}
.page__getintouch {
}
.page__contactus {
}
/*--------------------MAIN--------------------*/
.page {
    flex: 1 1 auto;
}
.page__main-block {
}
.main-block {
    position: relative;
}
.main-block__body {
    padding: 184px 0 191px 0;
    position: relative;
    z-index: 2;
    max-width: 400px;
}
@media (max-width:992px) {
    .main-block__body {
        padding: 120px 0 191px 0;
    }
}
@media (max-width:479px) {
    .main-block__body {
        padding: 115px 0 165px 0;
    }
}
.main-block__body > *:not(:last-child){ /*обращаюсь ко всем объектам первого уровня вложенности*/
    margin: 0 0 35px 0;
}
.main-block__title {
    font-size: 58px;
    font-weight: 800;
    line-height: calc(80 / 58 * 100%);
    letter-spacing: 0.2px;
}
@media (max-width:479px) {
    .main-block__title {
        font-size: 42px;
    }
}
.main-block__text {
    font-size: 20px;
    color: #737373;
    line-height: calc(30 / 20 * 100%);
}
@media (max-width:479px) {
    .main-block__text {
        color: #333333;
    }
}
.main-block__buttons {
    display: flex;
    flex-wrap: wrap;
    margin: -10px 0;
}
.main-block__button {
    border-radius: 37px;
    display: flex;
    min-height: 48px;
    justify-content: center;
    align-items: center;
    text-align: center;
    letter-spacing: 0.2px;
    padding: 0px 36px;
    font-weight: 700;
    line-height: 150%;
    margin: 10px 0;
}
@media (max-width: 479px) {
    .main-block__button {
        flex: 1 1 100%;
    }
}
@media (min-width: 479px) {
    .main-block__button:not(:last-child) {
        margin-right: 10px;
    }
}
.main-block__button_orange {
    background: #FF7B47;
    color: #FFFFFF;
}
.main-block__button_border {
    border: 1px solid #0D5C63;
    color: #0D5C63;
}
.main-block__button_border:hover {
    background-color: #0b474d;
}
.main-block__image {
    position: absolute; /*изображение фоновое, именно контент задает размер блоку*/
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}
@media (max-width: 1300px) {
    .main-block__image img {
        object-position: right;
    }
}
@media (max-width: 992px) {
    .main-block__image {
        opacity: 0.5;
    }
}

/*--------------------SERVICES--------------------*/
.services {
}
.services__container {
}
.services__body {
}
@media (min-width:670px) {
    .services__body {
        flex-wrap: wrap;
        display: flex;
        margin: 0 -15px;
    }
}
.services__column {
    flex: 0 1 33.333%;
}
@media (max-width:992px) {
    .services__column {
        flex: 0 1 50%;
    }
    .services__column:not(:last-child) {
        margin: 0 0 30px 0;
    }
    .services__column:last-child {
        flex: 1 1 100%;
    }
}
@media (min-width:670px) {
    .services__column {
        padding: 0 15px;
    }
}
.services__item {
    height: 100%;
    box-shadow: 0px 13px 19px 0px #00000012;
    background-color: #fff;
    padding: 35px;
}
@media (max-width:479px) {
    .services__item {
        padding: 25px;
    }
}
.item-service > *:not(:last-child) {
    margin: 0 0 10px 0;
}
.item-service__title {
    font-weight: bold;
    font-size: 24px;
    line-height: 32px;
    letter-spacing: 0.1px;
}
.item-service__text {
    line-height: 20px;
    letter-spacing: 0.2px;
    color: #737373;
}

.item-service_green {
    background-color: #0D5C63;
}

.item-service_green .item-service__title  {
    color: #fafafa;
}

.item-service_green .item-service__text {
    color: #fafafa;
}

/*--------------------ADVANTAGES--------------------*/

.advantages {
    padding: 80px 0;
}
@media (max-width:992px) {
    .advantages {
        padding: 50px 0;
    }
}

@media (max-width:767px) {
    .advantages {
        padding: 30px 0;
    }
}
.advantages__header {
    margin: 0 0 50px 0;
}
.header-block {
    text-align: center;
    letter-spacing: 0.2px;
}
.header-block__title {
    font-weight: bold;
    font-size: 40px;
    line-height: 57px;
}
@media (max-width:992px) {
    .header-block__title {
        font-size: 35px;
    }
}
@media (max-width:767px) {
    .header-block__title {
        font-size: 30px;
    }
}

.header-block__title:not(:last-child) {
    margin: 0 0 10px 0;
}
.header-block__subtitle {
    line-height: 20px;
    color: #737373;
}
.advantages__body {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -15px -30px;
}
.advantages__column {
    padding: 0 15px;
    margin: 0 0 30px 0;
    flex: 0 1 25%;
}

@media (max-width:1020px) {
    .advantages__column {
        flex: 0 1 50%;
    }
}
@media (max-width:560px) {
    .advantages__column {
        flex: 0 1 100%;
    }
}
.advantages__item {
    background-color: #fff;
    padding: 30px;
}
.advantages__item > * :not(:last-child) {
    margin: 0 0 10px 0;
}
.advantages__icon {
    height: 48px;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}
.advantages__value {
    letter-spacing: 0.2px;
    font-weight: bold;
    font-size: 40px;
    line-height: 57px;
    text-align: center;
}
.advantages__text {
    line-height: 150%;
    color: #737373;
    text-align: center;
    font-size: 16px;
    
}
/*--------------------PRACTICE--------------------*/

.practice {
    padding: 125px 0 80px 0;
}
@media (max-width:992px) {
    .practice {
        padding: 40px 0 80px 0;
    }
}
@media (max-width:767px) {
    .practice {
        padding: 0px 0 25px 0;
    }
}
.practice__container {
}
.practice__header {
    margin: 0 0 45px 0;
}
.practice__body {
    margin: 0 -20px -30px;
    display: flex;
    flex-wrap: wrap;
}
.practice__column {
    padding: 0 20px;
    margin: 0 0 30px 0;
    flex: 0 1 25%;
}

@media (max-width:1040px){
    .practice__column {
        flex: 0 1 50%;
    }
}

@media (max-width:630px) {
    .practice__column {
        flex: 0 1 100%;
    }
}
.practice-item {
}
.item-practice {
    background-color: #fff;
    display: flex;
    flex-direction: column;
    height: 100%;
}
.item-practice__content {
    padding: 30px;
    flex: 1 1 auto;
}
.item-practice__link {
    color: inherit;
    display: inline-block;
}
.item-practice__link:hover {
    text-decoration: underline;
}
.item-practice__link:not(:last-child) {
    margin: 0 0 15px 0;
}
.item-practice__title {
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.1px;
}
.item-practice__text {
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.2px;
    color: #737373;
}
.item-practice__image {
    display: block;
    padding: 0px 0px 60% 0px;
}

/*--------------------WHOWEARE--------------------*/

.whoweare {
    background-color: #FFFFFF;
    padding: 80px 0 130px 0;
}
.whoweare__header {
    margin: 0 0 100px 0;
}
.whoweare__body {
    display: flex;
    align-items: flex-start; /*делается для отзывчивости самого видео при адаптиве, чтобы оно меняло размер в зависимости от размера экрана*/
}

.whoweare__video {
    flex: 0 0 57%;
    position: relative;
    padding: 0 0 42.25% 0;
}
.whoweare__video iframe {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    object-fit: cover;
}
.whoweare__content {
    flex: 1 1 auto;
    padding: 20px 0 0 121px;
}
.whoweare__title {
    font-weight: bold;
    font-size: 40px;
    line-height: 57px;
    letter-spacing: 0.2px;
}
.whoweare__title:not(:last-child) {
    margin: 0 0 10px 0;
}
.whoweare__text {
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.2px;
    color: #737373;
}

.whoweare__items {
    margin: 50px 0 0 0;
}
.whoweare__item {
}

.whoweare__item:not(:last-child) {
    margin: 0 0 30px 0;
} 
.item-whoweare {
    display: flex;
}
.item-whoweare__icon {
    flex: 0 0 32px;
}
.item-whoweare__body {
    flex: 1 1 auto;
    padding: 0 0 0 20px;
}
.item-whoweare__title {
    font-weight: bold;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.1px;
}
.item-whoweare__title:not(:last-child) {
    margin: 0 0 5px 0;
} 
.item-whoweare__text {
    font-size: 14px;
    line-height: 24px;
    white-space: nowrap;
    letter-spacing: 0.2px;
    color: #737373;
}
@media(max-width:1080px){
    .whoweare__content {
        padding: 0px 0 0 50px;
    }
}
@media(max-width:950px) {
    .whoweare__title {
        font-size: 24px;
    }
    .whoweare__content {
        padding: 0px 0 0 0px;
    }
    .whoweare__body {
        flex-direction: column-reverse;
        align-items: stretch;
    }
    .whoweare__header {
        margin: 0 0 30px 0;
    }
    .whoweare {
        padding: 50px 0 55px 0;
    }
    .whoweare__video {
        padding: 0 0 56.2% 0;
    }
    .whoweare__video:not(:last-child) {
        margin: 50px 0 0 0;
    }
}
@media(max-width:767px) {
    .whoweare {
        padding: 0px 0 50px 0;
    }
    .whoweare__video:not(:last-child) {
        margin: 30px 0 0 0;
    }
}
/*--------------------CLIENTS--------------------*/

.clients {
    padding: 50px 0;
}
.clients__container {
}
.clients__items {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
}
.clients__item {
    flex: 0 1 16.6667%;
    text-align: center;
    min-width: 140px;
}
.clients__item img {
    max-width: 100%;
}
@media(max-width:950px) {
    .clients__item {
        padding: 8px 15px;
    }
    .clients {
        padding: 30px 0;
    }
}

/*--------------------SUBSCRIBE--------------------*/
.subscribe {
    position: relative;
    padding: 0 0 20px 0;
}
.subscribe::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 77px;
    background: #252B42;
}
.subscribe__container {
}
.subscribe__body {
    position: relative;
    z-index: 2;
    padding: 30px 50px;
    align-items: center;
    background-color: #17213C;
    border-radius: 2px;
}

@media (mim-width:1070px) {
    .subscribe__body {
        margin: 0 30px;
    }
}
@media (min-width:810px) {
    .subscribe__body {
        display: flex;
        justify-content: space-between;
    }
    .subscribe__title  {
        max-width: 266px;
    }
}
.subscribe__title {
    font-weight: bold;
    font-size: 24px;
    line-height: 32px;
    letter-spacing: 0.1px;
    color: #FFFFFF;
}
@media (max-width:810px) {
    .subscribe__title {
        margin: 0 0 20px 0;
        font-size: 20px;
    }
    .subscribe__body {
        margin: 0 -15px;
        padding: 20px 15px;
    }
}
.subscribe__form {
    flex: 0 1 50%;
    display: flex;
    align-items: center;
}
.subscribe__input {
    flex: 1 1 auto;
    background: #F9F9F9;
    color: #737373;
    border: 1px solid #E6E6E6;
    border-right: 0;
    border-radius: 5px 0 0 5px;
    min-height: 58px;
    padding: 0 20px;
}
.subscribe__input:focus {
    color: #000;
}
.subscribe__button {
    background: #FF7B47;
    border: 1px solid #E6E6E6;
    border-radius: 0px 5px 5px 0px;
    color: #FFFFFF;
    display: flex;
    min-height: 58px;
    justify-content: center;
    align-items: center;
    padding: 0 22px;
}
@media (max-width:810px) {
    .subscribe__button {
        padding: 0 15px;
    }
    .subscribe__input {
        padding: 0 15px;
    }
}

/*--------------------GETINTOUCH--------------------*/
.getintouch {
    padding: 80px 0 136px 0;
}
.getintouch__container {
}
.getintouch__header {
    margin: 0 0 80px 0;
}
.getintouch__items {
    margin: 0 -15px;
}
@media (min-width:992px) {
    .getintouch__items {
        margin: 0;
        display: flex;
        align-items: center;
    }
}
@media (max-width:992px) {
    .getintouch {
        padding: 50px 0 50px 0;
    }
    .getintouch__header {
        margin: 0 0 50px 0;
    }
    .item-getintouch_active {
        padding: 850px 15px;
    }
}
@media (max-width:767px) {
    .getintouch__header {
        margin: 0 0 30px 0;
    }
}
.getintouch__item {
    flex: 0 1 33.333%;
}
.item-getintouch {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #fff;
    padding: 50px 15px; /*отступы безопасности*/
}
.item-getintouch > *:not(:last-child) {
    margin: 0 0 15px 0;
}
.item-getintouch__emails {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.item-getintouch__email {
    color: inherit;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: 0.2px;
}
.item-getintouch__email:hover {
    text-decoration: underline;
}
.item-getintouch__label {
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.1px;
    font-weight: 700;
}
.item-getintouch__button {
    border: 1px solid #FF7B47;
    border-radius: 5px;
    color: #FF7B47;
    min-height: 44px;
    line-height: 142%;
    font-weight: 600;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px 20px;
    transition: all 0.3s ease 0s;
}
.item-getintouch__button:hover {
    background-color: #FF7B47;
    color: #fff;
}
.item-getintouch_active {
    padding: 80px 15px;
    background: #252B42;
    color: #fff;
 
}
.item-getintouch_active .item-getintouch__button {
    border: 1px solid #fff;
    color: #fff;

}
.item-getintouch_active .item-getintouch__button:hover {
    background-color: #fff;
    color: #252B42;
}

/*--------------------CONTACTUS--------------------*/
.contactus {
    background-color: #fff;
    padding: 40px 0;
}
.contactus__container {
}
.contactus__body {
}
@media (min-width:767px) {
    .contactus__body {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .contactus__content {
        padding: 0 20px 0 0;
    }
}
.contactus__content {
    padding: 0 0 20px 0;
}
.contactus__title {
    font-weight: bold;
    font-size: 24px;
    line-height: 133%;
    letter-spacing: 0.1px;
}

@media (max-width:810px) {
    .contactus__title  {
        padding: 0 20px 0 0;
    }
}
.contactus__title:not(:last-child) {
    margin: 0 0 10px 0;
}
.contactus__text {
    font-size: 14px;
    line-height: 142%;
    letter-spacing: 0.2px;
    color: #737373;
}
.contactus__button {
    min-height: 58px;
    display: flex;
    align-items: center;
    margin: 0 21px;
    background: #FF7B47;
    color: #fff;
    border-radius: 5px;
    line-height: 28px;
    text-align: center;
    justify-content: center;
    letter-spacing: 0.2px;
    padding: 15px 40px;
}
.contactus__button:hover {
    color: #FF7B47;
    background-color: #fff;
    border: 1px solid #FF7B47;
}

/*--------------------FOOTER--------------------*/
.footer {
}
.footer__top {
    background-color: #252B42;
    padding: 30px 0;
}
.footer__main {
}
.footer__row {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -15px;
}
.footer__column {
    flex: 0 1 16.667%;
    padding: 20px 15px;
    min-width: 170px;
}
.footer__column:last-child {
    flex: 0 1 33.334%;
}
@media (max-width:992px) {
    .footer__column {
        flex: 0 1 25%;
    }
    .footer__column:last-child {
        flex: 0 1 100%;
    }
}
@media (max-width:690px) {
    .footer__column {
        flex: 0 1 50%;
    }
    .footer__column:last-child {
        flex: 0 1 100%;
    }
}
.footer__label {
    color: #fff;
    font-weight: bold;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.1px;
}
.footer__label:not(:last-child) {
    margin: 0 0 20px 0;
}
.nav-footer__menu {
}
.menu-footer {
}
.menu-footer__list {
}
.menu-footer__item {
    color: #fff;
}
.menu-footer__item:not(:last-child) {
    margin: 0 0 10px 0;
}
.menu-footer__link {
    color: #fff;
    display: inline-block;
    font-weight: 600;
    font-size: 14px;
    line-height: 171%;
    letter-spacing: 0.2px;
}
.menu-footer__link:hover {
    color: rgb(134, 175, 236);
    text-decoration: underline;
}
.footer__contacts {
}
.contacts-footer {
    display: flex;
    flex-direction: column;
}
.contacts-footer__item {
    padding: 0 0 0 34px;
    line-height: 142%;
    letter-spacing: 0.2px;
    display: flex;
    align-items: center;
    min-height: 30px;
    color: #fff;
}
.contacts-footer__item:hover {
    color: rgb(134, 175, 236);
    text-decoration: underline;
}
.contacts-footer__item:not(:last-child) {
    margin: 0 0 12px 0;
}
.contacts-footer__item-phone {
    background: url(../img/footer/icons/01.svg) left no-repeat;
}
.contacts-footer__item-map {
    background: url(../img/footer/icons/02.svg) left no-repeat;
}
.contacts-footer__item-email {
    background: url(../img/footer/icons/03.svg) left no-repeat;
}
.footer__bottom {
    padding: 25px 0;
}
.footer__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.footer__copy {
    font-weight: 600;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.2px;
    color: #737373;
}
.footer__social {
    display: flex;
    align-items: center;
}
.social {
}
.social__item:not(:last-child){
    margin: 0 20px 0 0;
}
@media (max-width:767px) {
    .footer__container {
        flex-direction: column;
    }
    .footer__copy {
        margin: 0 0 15px 0;
        text-align: center;
    }
}